body{
	font-size: 20px;

}
#wrapper{
	width: 100%;
	background: grey;
}

#wrapper .title{
	font-size: 1.1em;
	padding: 10px 30px;
	text-align: center;
	background: #3F91D1;
	color: white;
}

#wrapper .text{
	
	color: white;
	margin: 10px auto;
	text-align: center;
	padding: 10px 20px;
}