body {
  margin: 0;
  padding: 0;
  font-size: 20px; }
  body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  #wrapper h1 {
    font-size: 50px;
    margin: 0px auto;
    padding: 50px 0 20px;
    text-align: center;
    width: 100%;
    background: #000;
    color: #fff; }
  #wrapper .back {
    position: fixed;
    bottom: 20px;
    right: 20px; }
    #wrapper .back .search,
    #wrapper .back .back_to_end {
      margin: 0 0 10px 0; }
      #wrapper .back .search:hover,
      #wrapper .back .back_to_end:hover {
        cursor: pointer; }
        #wrapper .back .search:hover path,
        #wrapper .back .back_to_end:hover path {
          fill: #1a6794 !important; }
  #wrapper .boxOfTitle {
    background: #464545; }
    #wrapper .boxOfTitle .chooseSong {
      padding: 10px 0;
      text-align: center;
      position: fixed;
      bottom: 10px;
      left: 150%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    #wrapper .boxOfTitle #song {
      padding: 10px 0px;
      text-align: center;
      font-size: 25px;
      margin: 10px auto; }
    #wrapper .boxOfTitle ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden; }
      #wrapper .boxOfTitle ul li {
        width: 50%; }
        #wrapper .boxOfTitle ul li a {
          text-decoration: none;
          padding: 10px 5px;
          color: #fff;
          background: #464545;
          display: block;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease; }
          #wrapper .boxOfTitle ul li a:hover {
            color: #464545;
            background: #fff; }
        #wrapper .boxOfTitle ul li .hide {
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          display: none; }
        #wrapper .boxOfTitle ul li .show {
          display: block; }
  #wrapper .boxOfSongs .title a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    background: #000;
    color: #fff;
    text-transform: uppercase; }
  #wrapper .boxOfSongs .text {
    color: #fff;
    background: #464545;
    padding: 10px 10px 10px 20px;
    line-height: 24px;
    font-size: 20px; }

@media all and (min-width: 500px) {
  #wrapper .boxOfTitle #song {
    font-size: 30px; }
  #wrapper .boxOfTitle ul {
    padding: 20px 0; }
    #wrapper .boxOfTitle ul li {
      width: auto; }
      #wrapper .boxOfTitle ul li a {
        margin: 3px 5px;
        background: #383737;
        font-size: 20px;
        padding: 10px; } }
